@import 'fonts';
@import 'base';

.todo-list-container{
	width: 50%;
	margin: 10px auto;
}

.item-list{
	text-align:center;
	margin-top:10px;

	.todo-item{
		list-style-type: none;
		border:1px solid black;
		margin:4px 0px;
		margin-right:2.5px;
		font-size: 15px;
	}
}

.todo-form{

	input{
		width:100%;
		height: 30px;
		font-size: 15px;
		border: 5px lavender solid;
		text-align:center;
	}
}